@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Lobster|Mansalva|Maven+Pro&display=swap');

/*****************BASE******************************/
.container{
	margin: auto;
	width:90%;
	display:grid;
	display-template-columns: 25% 25% 25% 25%;
	display-template-rows:20% 60% 20%;
}

body{
	font-family: 'Maven Pro', sans-serif;
}

/*figure{
	width:50px;
	height:70px;
}*/


/********************LAYOUT**************************/
/*
#majors{
	grid-column: 1/2;
	
}
#fig1{
	grid-column: 1/2;
	grid-row:3/4;
}
#fig2{
	grid-column: 2/3;
	grid-row:2/3;

}
#fig3{

}*/

/*button{
	grid-column: 3/3;
}*/




/*****************MODULES**********************/
