@import url('https://fonts.googleapis.com/css?family=Notable|Crimson+Text|Lobster|Mansalva|Maven+Pro&display=swap');

/*****************BASE******************************/
.container{
	margin: auto;
	width:90%;
	display:grid;
	display-template-columns: 25% 25% 25% 25%;
	display-template-rows:20% 60% 20%;
}

.home-container{
	margin: auto;
	width:90%;
	display:grid;
	display-template-columns:30% 30% 40%;
	display-template-rows:50% 25% 25%;
}

body{
	font-family: 'Maven Pro', sans-serif;
}

*{border: 1px solid hotpink;}

h1{
	font-family: 'Notable', sans-serif;

}


header{
	display:flex;
	flex-direction: column;

}

header section{
	justify-content: flex-end;
}

#home-header{
	display:flex;
	flex-direction: column;
}



/*figure{
	width:50px;
	height:70px;
}*/


nav{
	grid-column: 2/span 3;
	}


/********************LAYOUT**************************/

#majors{
	display-row-start:2;
	grid-column: 1/2;
	
}
#fig1{
	grid-column-start:1;
	grid-column-end: 2
	grid-row-start:3;
}
#fig2{
	grid-column-start:2;
	grid-column-end:3;
	grid-row-start:3;

}
#fig3{
	grid-column-start:3;
	grid-row-start:3;
}

/*button{
	grid-column: 3/3;
}*/




section {
	display:inline-grid;
	grid-template-columns: 20% 50% 40%;
	grid-template-rows: 10% 20% 20% 20% 20%;
		
}


section h2{
	grid-column-start: 1/span 3;
	font-family: 'Lobster', sans-serif;
}

section h3{
	grid-column-start: 1;
	font-family: 'Mansalva', sans-serif;
}


section figure{
	grid-column-start: 3;
	grid-row-start:2;
}










/*****************MODULES**********************/
